// TODO
.contentContainer {
  display: flex;
  flex-direction: column;
  gap: 2.25rem;
  max-width: 700px;
  margin: 3rem auto 0 auto;

  a {
    text-decoration: none;

    &:visited {
      text-decoration: none;
      color: var(--heading);
    }
  }

  h1 {
    font-weight: 700;
    font-size: 28px;
    color: var(--heading);
  }

  p {
    font-size: 18px;
    line-height: 1.75rem;
    margin-top: 0.75rem;
  }

  time {
    margin-right: 1.5rem;
    line-height: 4rem;
  }
}

.postInfoContainer {
  display: flex;
  align-items: center;
  color: var(--info);

  div {
    display: flex;
    align-items: center;
    gap: 0.5rem;
  }
}

.mainContainer {
  margin-top: 6rem;

  .logoContainer {
    transform: translateX(-14.5rem);
  }
}

.loadMorePosts {
  cursor: pointer;
  color: var(--highlight);
  font-size: 1.2rem;
}
