// TODO
.mainContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
  margin-top: 2rem;

  .logoContainer {
    transform: translateX(-20rem);
  }
}

.banner {
  max-height: 400px;
  object-fit: cover;
  width: 100vw;
}

.contentContainer {
  h1 {
    color: var(--heading);
    margin-bottom: 1.5rem;
  }
}

.postInfoContainer {
  display: flex;
  align-items: center;
  color: var(--info);
  gap: 2rem;
  margin-bottom: 5rem;

  div {
    display: flex;
    align-items: center;
    gap: 0.5rem;
  }
}

.content {
  max-width: 920px;

  p {
    font-size: 18px;
    color: var(--body);
    line-height: 1.5rem;
  }

  p + p {
    margin-bottom: 2rem;
  }

  a {
    color: var(--highlight);
    text-decoration: none;
  }
}

.postHeading {
  color: var(--heading);
  margin: 1.5rem 0;
}

.invisibleSpan {
  display: none;
}
